# Iris Flower Classification

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('iris.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
data.columns = ["Sepal_Length", "Sepal_Width", "Petal_Length", "Petal_Width", "Category"]
data.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width     Category
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
data['Category'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

### Performing Machine Learning - KNN

In [5]:
from sklearn.neighbors import KNeighborsClassifier

In [6]:
columns = data.columns

In [7]:
columns

Index(['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width',
       'Category'],
      dtype='object')

In [8]:
training_data = data[columns[:4]]
training_data.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [9]:
output_data = data['Category']
output_data.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Category, dtype: object

In [10]:
from sklearn.model_selection import train_test_split

In [36]:
X, x_test, Y, y_test = train_test_split(training_data, 
                                        output_data, 
                                        test_size=0.3, 
                                        random_state = 42)

In [51]:
model = KNeighborsClassifier(n_neighbors=20)

In [52]:
model.fit(X, Y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=20, p=2,
           weights='uniform')

In [53]:
prediction = model.predict(x_test)

In [54]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [55]:
confusion = confusion_matrix(prediction, y_test)
confusion

array([[19,  0,  0],
       [ 0, 13,  0],
       [ 0,  0, 13]], dtype=int64)

In [56]:
score = accuracy_score(prediction, y_test)
score

1.0

In [44]:
new_prediction = model.predict([[4.9,2.0,1.4,0.2]])
new_prediction

array(['Iris-setosa'], dtype=object)